* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 5px;
}

.table {
	margin: 0 auto;
	width: 95vw;
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
}

.table__header,
.table__body,
.table__column,
.table__cell {
	border: 1px solid gray;
}

.table__column,
.table__cell {
	padding: 10px;
}

.table__column > i {
	color: gray;
	float: right;
}

.table__body > .table__row:nth-of-type(2n + 1) {
	background-color: lightgray;
}
